<div class="wrapper">
  <div class="container">
    <div class="row">
      <%= simple_form_for (@sample) do |s| %>

      <div class="col-md-6 col-md-offset-3 start-new-coffee-form">
        <div class="input_element_inline">
          <div class="input_element">
            <%= c.input :blend_name, placeholder: "eg: Lazy Sunday" %>
          </div>
          <div class="input_element">
            <%= c.input :tree, label: 'Beans', collection: ["Arabica", "Robusta", "Blend"], prompt: 'Select Blend Composition' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
