<div class="wrapper">
  <h1>These following samples need to the emailed</h1>
    <ul class= "no-bullet">
    <% @samples.each do |sample| %>
      <li>
        <%= sample.id %>
        <%= render "shared/card_sample", sample: @sample %>
      </li>
    <% end %>
  </ul>
</div>
