<div class="wrapper">
  <div class="container">

      <h1>These following samples need to the emailed</h1>
        <ul class= "no-bullet">
        <% @samples.each do |sample| %>
          <li>
            <%= render "shared/card_sample", sample: sample %>
          </li>
        <% end %>
      </ul>
  </div>
</div>
