<div class="wrapper">
  <h1>These following coffees are pending</h1>
  <div class="container">
    <div class="button-create">
      <%= link_to "Add a new sample".html_safe, "new", class: "add_coffee_btn" %>
    </div>
  </div>
</div>
