<div class="wrapper">
  <div class="container">
    <ul class= "no-bullet">
      <% @samples.each do |sample| %>
        <li>
          <%= render "card_sample", sample: sample %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
