<div class="wrapper">
  <div class="container">
    <div class="header-pending-show">
      <%= link_to '<i class="fas fa-arrow-alt-circle-left"></i> Back'.html_safe, pending_index_samples_path, class: 'add_coffee_btn slick_btn'  %>
      <div class="text-header-pending">
        <h2 class="text-center">Samples Research</h2>
      </div>
    </div>
    <div class="top-margin">
      <% @samples.each do |sample| %>
        <div class="card-removable">
          <%= render "shared/card_sample", sample: sample %>
        </div>
      <% end %>
    </div>
  </div>
</div>
