<%= render 'shared/navbar2' %>
<div class="wrapper">
  <div class="container">

    <div class="header-pending-show">
      <div class="text-header-pending">
        <h2 class="text-center">Samples managed today</h2>
      </div>
    </div>

    <% if @samples.count == 0 %>
      <p>No sent samples</p>
    <% else %>
      <ul class= "no-bullet">
        <% @samples.each do |sample| %>
            <li>
              <%= render "shared/card_sample", sample: sample %>
            </li>
        <% end %>
      </ul>
    <% end %>

  </div>
</div>
