<%= render 'shared/navbar2' %>
<div class="wrapper">
  <div class="container">

    <div class="header-pending-show">
      <div class="text-header-pending">
        <h2 class="text-center" id="sweet-alert-sent">Samples pending customer approval</h2><span><a href="https://privateemail.com/appsuite/#!!&app=io.ox/mail&folder=default0/INBOX&locale=en_US">Mail</a></span>
      </div>
    </div>

    <% if @samples.count == 0 %>
      <p class= "no-samples">No sent samples</p>
    <% else %>
      <% @samples.each do |sample| %>
        <%= render "shared/card_sample", sample: sample %>
      <% end %>
    <% end %>

  </div>
</div>
