<div class="wrapper">
  <div class="container">
    <h2>Details of sample #<%= @sample.id %></h2>
    <div class="show-container">
      <div class="show-info">
        <p>nombre d'exemple <%= @sample.coffee_lot.samples.count %></p>
        <% @sample.coffee_lot.samples.each do |sample| %>
          <div class="class-to-be-defined">
            <%= sample.id %>
            <p>coucou</p>
          </div>
        <% end %>
        <p>hello</p>

      </div>
      <%= render "/shared/dashboard.html.erb" %>

    </div>
  </div>
</div>
