<div class="wrapper">
  <div class="container">
    <h1>These following samples need to the labelled</h1>
    <ul class= "no-bullet">
      <% @samples.each do |sample| %>
        <li>
          <%= sample %>
          <%= link_to "PDF File", tested_index_samples_path(format:'pdf') %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
