<div class="wrapper">
  <div class="container">
    <h1>These following samples need to the labelled</h1>
    <ul class= "no-bullet">
      <% @samples.each do |sample| %>
        <li>
          <%= sample.id %>
          <%= render "shared/card_sample", sample: sample %>
          <%= link_to "PDF File", tested_index_samples_path(format:'pdf'), class: "btn btn-success" %>
          <%= link_to "Add to Printer", etiquettes_path, method: :post, sample: sample, class: "btn btn-success" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
