<div class="wrapper">
  <div class="container">

    <ul>
      <% @samples.each do |sample| %>
        <li>
          <%= sample %>
          <%= link_to "PDF File", samples_path(format:'pdf') %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
