// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$grey: #8c8a8a;
$main: #b8ceba;
$font-main: #5B3624;
$logo: #00A2FF;

// $main: #BBD686; greenish
// $main: #004A66;
// $main: #90ad90f0; green coffee
//
