.title-main {
  text-align: center;
}

.title-second {
  text-align: center;
  color: white;
  background-color: $main;
  border-radius: 6px;
  padding: 10px;
}

.sample-dashboard {
  display: flex;
}

.sample-status {
  margin: 20px;
  width: 17vw;
  height: auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  .sample-count {
    text-align: center;
    font-size: 35px;
    height: 50px;
  }
  .sample-count-status {
    text-align: center;
    height: 50px;
  }
  .sample-action {
    background: $light-gray;
    box-shadow: 4px 5px 7px 2px rgba(10,0,0,0.5);
    padding: 10px;
    text-align: center;
    height: 70px;
    border-radius: 6px;
  }
}

.samplify-offer {
  display: flex;
  vertical-align: center;
  margin-top: 250px;
}


.home-banner {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6));
  width: 100vw;
  height: calc(100vh - 70px);
  background-size:cover;
  background-image: url('https://images.unsplash.com/photo-1470087167738-6aa485ff65dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2851&q=80');
  display:flex;
  justify-content:center;
  align-items: start;
  position:relative;
  h1 {
    margin-top: 100px;
    text-align: center;
  }
}

.home-login {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 15px 30px;
  border: red;
  font-size: 20px;
}

.home-logo {
  position: absolute;
  top: 10px;
  left: 15px;
}

.home-presentation {
  display: flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
  margin-top: 200px;
  margin-bottom: 22px;
}

.home-presentation-element {
  text-align: center;
  width: 300px;
  height: 300px;
  background-color: white;
  padding: 22px 20px;
  i {
    font-size:40px;
  }
  border-radius: 6px;
  margin: 20px;
}


