// home logged-in


.title-main {
  text-align: center;
  font-size: 35px;
}

.white-space {
  height: 80px;
  padding-top: 20px;
}

.title-second {
  text-align: center;
  color: white;
  background-color: $main;
  border-radius: 6px;
  padding: 10px;
}

// part 1 - Current activity

.sample-dashboard {
  display: flex;
  justify-content: center;
}

.sample-status {
  margin: 20px;
  width: 17vw;
  height: auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  .sample-count {
    text-align: center;
    font-size: 35px;
    height: 50px;
  }
  .sample-count-status {
    text-align: center;
    height: 50px;
  }
  .sample-action {
    background: $light-gray;
    box-shadow: 4px 5px 7px 2px rgba(10,0,0,0.5);
    padding: 10px;
    text-align: center;
    height: 70px;
    border-radius: 0px 0px 6px 6px;
  }
  .sample-action:hover {
    text-decoration: none;
    background-color: $main;
    color: white;
  }
}

// part 1 - Coffee news

.coffee-news {
}

.news {
  display: flex;
  box-shadow: 0 0 2rem rgba(0,0,0,.1);
  background-color: white;
  width:1060px;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  .news:hover {
    filter: grayscale(1);
    text-decoration: none !important;
    color: #3a2318;;
    background-color: transparent;
  }
  .news-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }
  .news-content {
      padding-top: 8px;
      padding-top: 8px;
      padding-left: 8px;
      align-items: space-between;
    .news-title {
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      font-size: 24px;
      text-decoration: none !important;
    }
    .news-author {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 16px;
      padding-bottom: 4px;
      text-decoration: none !important;
    }
    .news-text {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 14px;
      text-decoration: none !important;
    }
  }
}

// home-NOT-logged-in

.content {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-side {
  background-color: white;
  width: 45%;
  height: 100%;
}

.illustration-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .logo {
//   width: 100px;
//   height: 70px;
//   margin-top: 50px;
//   margin-left: 50px;
// }

.illustration {
  height: 350px;
  width: 350px;

}

.right-side {
  width: 55%;
  height: 100%;
}

.moto {
  text-align: center;
  margin-top: 200px;
}

.samplify-offer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  .home-presentation-element {
    text-align: center;
    width: 27%;
    height: 210px;
    background-color: white;
    border-radius: 6px;
    margin: 12px;
    i {
      font-size: 40px;
      margin-bottom: 20px;
    }
  }
}

.home-login {
  display: flex;
  justify-content: space-evenly;
  font-size: 26px;
  padding-top: 120px;
    a {
      color: black;
    }
}

.mybanner {
  background-image: url('https://images.unsplash.com/photo-1470087167738-6aa485ff65dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2851&q=80');
  background-size: cover;
  height: calc(100vh - 120px);
}

.home-element-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home-element {
  width: 20%;
  height: 200px;
  margin: 30px;
  padding: 0px 10px 5px 10px;
  text-align: center;
  box-shadow: 0 0 2rem rgba(0,0,0,.1);
  background-color: white;
  border-radius: 32px;
  color: black;
}




