// home logged-in

.title-main {
  text-align: center;
}

.title-second {
  text-align: center;
  color: white;
  background-color: $main;
  border-radius: 6px;
  padding: 10px;
}

.sample-dashboard {
  display: flex;
}

.sample-status {
  margin: 20px;
  width: 17vw;
  height: auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  .sample-count {
    text-align: center;
    font-size: 35px;
    height: 50px;
  }
  .sample-count-status {
    text-align: center;
    height: 50px;
  }
  .sample-action {
    background: $light-gray;
    box-shadow: 4px 5px 7px 2px rgba(10,0,0,0.5);
    padding: 10px;
    text-align: center;
    height: 70px;
    border-radius: 0px 0px 6px 6px;
  }
  .sample-action:hover {
    text-decoration: none;
    background-color: $main;
    color: white;
  }
}

.coffee-news {

}

.news {

  .news-image {
  }
  .news-content {
    .news-title {
    }
    .news-author {
    }
    .news-text {
    }
  }
}





// home-NOT-logged-in

.content {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-side {
  background-color: white;
  width: 45%;
  height: 100%;
}

.illustration-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
}

.logo {
  width: 100px;
  height: 70px;
  margin-top: 50px;
  margin-left: 50px;
}

.illustration {
  height: 350px;
  width: 350px;

}

.right-side {
  width: 55%;
  height: 100%;
}

.moto {
  text-align: center;
  margin-top: 200px;
}

.samplify-offer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  .home-presentation-element {
    text-align: center;
    width: 27%;
    height: 210px;
    background-color: white;
    border-radius: 6px;
    margin: 12px;
    i {
      font-size: 40px;
      margin-bottom: 20px;
    }
  }
}

.action {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  font-size: 26px;
  .home-button {
    width: 120px;
    padding: 16px;
    border-radius: 32px;
    color: #004A66;
    text-align: center;
    border: 1px solid #0a49682e;
    font-size: 18px;
    background-color: white;
    text-decoration: none;
  }
  .home-button:hover {
    background-color: $main;
    color: white;
  }
}





