


.login-container {
  padding-top: 50px;
  display:flex;
  justify-content: center;
  align-content: center;
}

.login-information {
  width: 500px;
  // text-align: left;
  font-size: 16px;
}

.login-forget-password {
  margin-top: 20px;
}











