
.header-labelling {
  height      : 70px;
  padding-top : 15px;
}
.header-labelling-approved {
  height      : 70px;
  padding-top : 30px;
  padding-left: 25px;
}

.etiquettes-index{
  margin-left: 70px;
}


.button-etiquettes {
  width: 60%;
  margin-left: 50px;
}
