.modal-title {
  text-align: center;
}

.modal-header {
  box-shadow: 0px;
}

.new-quality-form {
  background-color: white;
}

h4 {
  font-size: 20px;
}

.no-padding {
  padding: 0px !important;
}

.margin-top {
  margin-top: 15px;
}

.button-quality {
  width: 100%;
  display:flex;
  flex-wrap: space-around;
}

.col-md-3 {
  margin-bottom: 10px;
}

.col-md-9 {
  margin-bottom: 10px;
  width: 60%;

}
