
.button-create{
  margin : 30px;
}

.header-pending-show {
  display         : flex;
  align-items     : center;
  justify-content: space-between;
  height: 100px;
  width: 100%;

}

.text-header-pending{
  padding-right : 40px;
  flex: 1;
  height: 100px;
  display: contents;
}

.text-center {
  text-align: left;
  padding-left: 40px;
}

.text-centered {
  align-content: center;
  text-align: left;
  margin-left: 40px;
}

.text-centered-center {
  align-content: center;
  text-align: center;
  padding-right: 85px;

}

.modal-color {
  background-color: $body-bg;
}

.center-samples {
  align-content: center;
  text-align: center;
  justify-content: center;
}


.no-samples {
  margin-left: 40px;
}
