.show-container {
  width: 850px;
  margin-bottom: 30px;
  h4 {
    font-style:italic;
  }


}

.show-quality-graph {
  margin-top: 50px;
  margin-bottom: 50px;
}


.sample-show-historic-title {
  margin-left: -20px;
  font-style: bolder;
}


.sample-show-card {
  box-shadow: 0px 0px 5px rgb(220, 220, 220);
}

.sample-show-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

