.top-title {
  flex: 1;
  padding-left: 250px;
}

.header-tested {
  display: flex;
  align-items: center;
  justify-content: start;
}

.text-center-tested {
  padding-bottom: 10px;
  position: absolute;
  left: 588px;
}
