<div class="card-box">
  <div class="card-main">

    <div class="card-title">
      <p>Sample #1234, Supremio Coffee from Mexico, good stuff sent by Carlos</p>
    </div>

    <div class="card_content">

      <div class="card_todo">
        <button>received</button>
        <button>tested</button>
        <button>labelled</button>
        <button>sent</button>
      </div>

      <div class="card_info">

        <div class="card_progress_bar">
          <div class="container">
            <ul class="progressbar">
              <li class="active">login</li>
              <li>choose interest</li>
              <li>add friends</li>
              <li>View map</li>
            </ul>
          </div>
        </div>

        <div class="card_description">

          <div class="card_field">
            <div class="card_key">
              <p>Quantity</p>
            </div>
            <div class="card_value">
              <p>134 sacs</p>
            </div>
          </div>

          <div class="card_field">
            <div class="card_key">
              <p>Provenance</p>
            </div>
            <div class="card_value">
              <p>haut plateau de la codilière</p>
            </div>
          </div>

          <div class="card_field">
            <div class="card_key">
              <p>Potential clients</p>
            </div>
            <div class="card_value">
              <p>starbucks, nestlé, brulerie de belleville</p>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="card_expendable">
    <p>More info will be displayed here using AJAX</p>
  </div>

</div>
