<div class="card-box">
  <div class="card-main">

    <div class="card-title">
      <p><strong>Sample #1234, Supremio Coffee from Mexico, good stuff sent by Carlos</strong></p>
    </div>

    <div class="card_content">

      <div class="card_todo">
        <p><strong>Sample tasks</strong></p>
        <p>Received <%= Time.now %></p>
        <p>Testing pending </p>
        <p>Label pending</p>
        <p>Send pending</p>
      </div>

      <div class="card_info">

        <div class="card_progress_bar">
          <p><strong>Coffee lot import stage</strong></p>
          <div class="container-fluid">
            <ul class="progressbar">
              <li class="active">Offer</li>
              <li>Purchase</li>
              <li>Loading</li>
              <li>Port</li>
              <li>Wharehouse</li>
              <li>Client</li>
            </ul>
          </div>
        </div>

        <div class="card_description">

          <div class="card_field">
            <div class="card_key">
              <p><strong>Quantity</strong></p>
            </div>
            <div class="card_value">
              <p>134 sacs</p>
            </div>
          </div>

          <div class="card_field">
            <div class="card_key">
              <p><strong>Provenance</strong></p>
            </div>
            <div class="card_value">
              <p>haut plateau de la codilière</p>
            </div>
          </div>

          <div class="card_field">
            <div class="card_key">
              <p><strong>Potential clients</strong></p>
            </div>
            <div class="card_value">
              <p>starbucks, nestlé, brulerie de belleville</p>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="card_expendable">
    <p>More info will be displayed here using AJAX</p>
  </div>

</div>
