<div class="card-shop">
  <div class="title">
    <p> Dashboard</p>
  </div>
  <div class="item">

    <div class="information">
      <div class="basket-coffee-information">
        <div class= "text-left">
          <p>Validation:</p>
        </div>
        <div class= "text-right">
          <p> <strong> <%= @pending_sample_count %> </strong> remaining</p>
        </div>
      </div>
      <div class="basket-coffee-information">
        <div class= "text-left">
          <p>Quality Check:</p>
        </div>
        <div class= "text-right">
          <p> <strong><%= @received_sample_count %> </strong>remaining</p>
        </div>
      </div>
      <div class="basket-coffee-information">
        <div class= "text-left">
          <p>Email:</p>
        </div>
        <div class= "text-right">
          <p> <strong><%= @tested_sample_count %> </strong>remaining</p>
        </div>
      </div>
      <div class="basket-coffee-information">
        <div class= "text-left">
          <p>Label:</p>
        </div>
        <div class= "text-right">
          <p> <strong><%= @labelled_sample_count %> </strong>remaining</p>
        </div>
      </div>
    </div>
  </div>
</div>
