<div class="my-footer">
  <div class="social-network">
      <h4>Follow us on:</h4>
    <ul class="list-inline">
      <li><a href="https://twitter.com/?lang=fr" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
      <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></li>
      <li><a href="https://www.instagram.com/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </div>
  <div class="contact">
    <h4>Contact us: admin@isamplify.com</h4>
  </div>
</div>
