<div class="navbar2-wagon">
  <div class="container">
    <ul class="progressbar">

  <!-- Start component -->
      <div class="container-fluid">
         <ul class="progressbar">
          <% if Sample.count_with_status("pending") != 0 %>
            <li >Received</li>
            <li>Tested</li>
            <li>Labelled</li>
            <li>Emailed</li>
            <li>Wharehouse</li>
          <% elsif Sample.count_with_status("tested") == 0 %>
            <li class="active">Received</li>
            <li>Tested</li>
            <li>Labelled</li>
            <li>Emailed</li>
            <li>Wharehouse</li>
          <% elsif Sample.count_with_status("labelled") == 0 %>
            <li class="active">Received</li>
            <li class="active">Tested</li>
            <li>Labelled</li>
            <li>Emailed</li>
            <li>Wharehouse</li>
          <% elsif Sample.count_with_status("emailed") == 0 %>
            <li class="active">Received</li>
            <li class="active">Tested</li>
            <li class="active">Labelled</li>
            <li>Emailed</li>
            <li>Wharehouse</li>
          <% else %>
            <li class="active">Received</li>
            <li class="active">Tested</li>
            <li class="active">Labelled</li>
            <li class="active">Emailed</li>
            <li class="active">Sent</li>
          <% end %>
        </ul>
      </div>
    </ul>
  </div>
</div>

