<div class="inliner"></div>
<div class="inlined">

  <!-- Start component -->
  <div class="progress-meter">
    <div class="track">
      <span class="progress"></span>
    </div>
    <ol class="progress-points" data-current="4">
      <li class="progress-point">
        <span class="label">Lorem ipsum</span>
      </li>
      <li class="progress-point">
        <span class="label">Aliquam tincidunt</span>
      </li>
      <li class="progress-point">
        <span class="label">Vestibulum auctor</span>
      </li>
      <li class="progress-point">
        <span class="label">Lorem ipsum</span>
      </li>
      <li class="progress-point">
        <span class="label">Aliquam tincidunt</span>
      </li>
    </ol>
  </div>
  <!-- End component -->

  <!-- Demo only -->
  <div class="controls">
    <button class="trigger">Toggle progress</button>
    <p>Click any point to navigate to it directly</p>
  </div>
</div>
