<div class="inliner"></div>
<div class="inlined">

  <!-- Start component -->
  <div class="progress-meter">
    <div class="track">
      <span class="progress"></span>
    </div>
    <ul class="progress-points" data-current="4">
      <li class="progress-point">
        <span class="label">Offer</span>
      </li>
      <li class="progress-point">
        <span class="label">Purchase</span>
      </li>
      <li class="progress-point">
        <span class="label">Loading</span>
      </li>
      <li class="progress-point">
        <span class="label">Port</span>
      </li>
      <li class="progress-point">
        <span class="label">Wharehouse</span>
      </li>
    </ul>
  </div>
  <!-- End component -->

  <!-- Demo only -->
<!--   <div class="controls">
    <button class="trigger">Toggle progress</button>
    <p>Click any point to navigate to it directly</p>
  </div>
</div> -->
