<div class="wrapper">
  <div class="container">
    <div class="row">
      <%= simple_form_for (@sample) do |s| %>

      <div class="col-md-6 col-md-offset-3 start-new-coffee-form">
        <div class="input_element_inline">
          <div class="input_element">
            <%= c.input :exporter, placeholder: "eg: David da Silva" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
