<div class="wrapper">
  <div class="container">
    <div>
      <p><%= render "/shared/progress_bar.html.erb" %></p>
    </div>

    <div class=card_sample>
      <p><%= render "/shared/card_sample.html.erb" %></p>
    </div>
    <p><%= render "/shared/dashboard.html.erb" %></p>
  </div>
</div>
