<div class="wrapper">
  <div class="container">
    <div class="etiquette-inline-top">
      <div class="etiquette-box">
        <% @etiquettes.each do |etiquette| %>
          <%= @etiquette.sample %>
          <% end %>
      </div>
      <div class="etiquette-box"></div>
    </div>
    <div class="etiquette-inline-bottom">
      <div class="etiquette-box"></div>
      <div class="etiquette-box"></div>
    </div>
  </div>
</div>
