<p>Dear <%= @exporter.first_name.capitalize %>,</p>

<p> We have received your sample from <%= @sample.coffee_lot.provenance %>, iconumber <%=  @sample.coffee_lot.iconumber %>. </p>

<p>We will cup it asap and let you know the feedbacks ! </p>

<p>Best regards, </p>

<p>Amandine</p>
