.slick_btn {
 border: 1px solid #0a49682e;
 font-size: 18px;
 color: $main;
 background-color: white;
 opacity: 0.7;
}

.slick_btn:hover {
  text-decoration: none;
  // color: #D6C9BE;
  // background-color: $main;
  opacity: 1;
}

.add_coffee_btn {
  padding: 16px;
  background-color: white;
  border-radius: 32px;
  border: solid 2px;
  border-color: $font-main;
  color: $font-main;
  text-align: center;
  opacity: 0.7;
}

.add_coffee_btn:hover {
  text-decoration: none;
  color: $font-main;
  // color: #D6C9BE;
  // background-color: $main;
  opacity: 1;
}


.log_in_btn {
  padding: 16px;
  background-color: white;
  border-radius: 32px;
  border: solid 2px;
  border-color: $font-main;
  color: $font-main;
  text-align: center;
  opacity: 10;
  font-size: xx-large;
}

.log_in_btn:hover {
  text-decoration: none;
  color: $font-main;
  color: white;
  background-color: $main;;
  opacity: 1;
  border: solid 2px;
  border-color: transparent;
}

.photo_btn {
  background-color: #d5c9bd;
  border: 1px solid #0a49682e;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 2px 2px 3px #33333340;
}

.square-15{
  height: 15px;
  width: 15px;
}

.square-25{
  height: 25px;
  width: 25px;
}


.flex-centerer{
  display: flex;
  justify-content: center;
  align-items: center;
}


.add_coffee_btn_labbelled {
  padding: 12px 24px;
    border-radius: 50px;
    border-color: #5B3624;
    color: #5B3624;
    text-align: center;
    opacity: 0.7;
}
