.removed-item {
    animation: removed-item-animation 1s cubic-bezier(1, 1, 1, 1) forwards;
    /*transform origin is moved to the bottom left corner*/
    transform-origin: 100% 0%;
}

@keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: rotateZ(100);
}

    100% {
        opacity: 0;
        transform: translateX(1000px) rotateZ(0deg);
    }
}

.removed-lefty-item {
    animation: removed-lefty-item-animation 1s cubic-bezier(1, 1, 1, 1) forwards;
    /*transform origin is moved to the bottom left corner*/
    transform-origin: 100% 0%;
}

@keyframes removed-lefty-item-animation {
    0% {
        opacity: 1;
        transform: rotateZ(100);
}

    100% {
        opacity: 0;
        transform: translateX(-1000px) rotateZ(0deg);
    }
}

.certification-logo {
  height: 30px;
  width: 30px;
  margin-bottom: 8px;
  border-radius: 30%;
}

.certification-container {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  position: absolute;
  right: 10px;
}

.card-box {
  display: flex;
  box-shadow: 0 0 2rem rgba(0,0,0,.1);
  width:730px;
  // height: 187px;
  margin-bottom: 30px;
  transition: all 0.7s;
  overflow: hidden;
  margin-left: 40px;
}

.card-box-active {
  width: 1060px;
  transition: all 0.7s;
}

.card-main-first-skin {
  transition: all 0.7s;
  width: 680px;
  display:flex;
  // background-color: white;
}

.card-first-skin-active {
  transition: all 0.7s;
  width: 1010px;
}



.card-main {
  display: flex;
  background-color: white;
  cursor: pointer;
}

.card-main-illustration {
  background-color: #d2d2d2f0;
  text-align: center;
  width: 250px;
  position: relative;
}

.card-main-country{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 24px;
  padding-top: 10px;
}

.card-main-quality{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 6px;
}

.card-main-picture-frame{
  height: 64px;
}

.card-main-picture{
  height:100%;
  background-repeat: no-repeat;
}

.card-main-quantity{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #828282;
  padding-top: 3px;
}

.card-main-sample {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 4px;
}

.card-main-journey {
  width: 215px;
  border-right: 1px solid #E0E0E0;
  padding-left: 35px;
}

.card-main-journey-title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding-top:10px;
}

.card-main-subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.card-potential-clien {
  padding-top: 3px;
}
.card-main-company {
  padding-bottom: 2px;
  padding-left: 16px;
}

.card-main-stages {
  display: flex;
  align-items: flex-start;
}

.card-main-stages-svg {
  width: 5px;
  height: 118px;
  margin-top: -12px;
}

.card-main-cursor {
  margin-left: -3px;
}

.card-main-stage {
  padding-left: 8px;
}

.card-stage-fill {
  height: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.fillactive {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.card-main-ratings {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-top: 3px;
}

.card-main-score {
  background-color: #d2d2d2f0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding: 2px 0px;
  text-align: center;
  border-radius: 3px;
  width: 85px;
}

.card-main-result-clients {
  padding-top: 10px;
}

.card-action {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    border: none;
    color: $main;
    background-color: $body-bg;
  }
}

.card-action-show {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
    a {
    padding: 5px 15px;
  }
}

.card-action-edit {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
    button {
    padding: 5px 12px;
  }
}

.card-action-next {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $main;
  justify-content: center;
  a {
    padding: 22px 15px;
    color: white;
  }
  button {
    color: white;
    background-color: $main;
  }
}

.card-main-details {
  // display:none;
  // width: 0px;
  // opacity: 0;
  background-color: white;

  padding-left: 35px;
  height: 187px;
  transform: translate(-330px,0);
  // transition: width 0.7s;
  // z-index: 1;
  transition: all 0.7s;
  flex: 0 0 330px;
  z-index:-1;
}

.card-details-active {
  // z-index:0;
  // display: block;
  transform: translate(0,0);
  // opacity: 1;
  // width: 330px;
  // padding-left: 35px;
  // transition-delay: 250ms;
}

.card-main-details-container {
  display:flex;
}

.card-coffee-lot-info {
  padding-bottom: 19px;
}

.card-main-iconumber {
  padding-bottom: 16px;
}

.card-index-link-top {
  z-index:2;
}
