.etiquette-box {
  width: 481px;
  height: 332px;
  border: solid 1px;
}

.etiquette-inline-top {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.etiquette-inline-bottom {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}
