.my-footer {
  background-size: cover;
  height: 70px;
  background-color: $main;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 30px;
  h4 {
    font-size: 15px;
    padding: 0px;
  }
  a {
    color: white;
  }
  margin: 0px;
  font-size: 20px;
  margin-top: 0px;
}

.social-network {
  color: white;
  display:inline-block;
  position: absolute;
  left: 20px;
}

.poweredby {
  color: white;
  position: absolute;
  padding: auto;
}

.contact{
  position: absolute;
  right: 20px;
}


.credit{
  font-size: 8px;
  a{
    font-size:5px;
  }
}
