.navbar2-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 45px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(178, 208, 185, 0.5);
}

.navbar2-wagon-animation {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 45px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(178, 208, 185, 0.5);
  animation: navbar 3s ease;
}
  @keyframes  navbar{
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.shift{
  padding-left: 45px;
}
  .nav li {
      list-style-type: none;
      width: 19%;
      float: left;
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
      color: #7d7d7d;
      display: block;
      margin-top: 15px;
  }
  // .nav li:before {
  //     width: 30px;
  //     height: 30px;
  //     // content: counter(step);
  //     counter-increment: step;
  //     line-height: 30px;
  //     border: 2px solid #7d7d7d;
  //     display: block;
  //     text-align: center;
  //     margin: 0 auto 10px auto;
  //     border-radius: 50%;
  //     background-color: white;
  // }
  // .nav li:after {
  //     width: 100%;
  //     height: 2px;
  //     content: '';
  //     position: absolute;
  //     background-color: #7d7d7d;
  //     top: 15px;
  //     left: -50%;
  //     z-index: -1;

  // }
  .nav li:first-child:after {
      content: none;
  }
  .active {
      // background-color: red;
  }
  .nav li.active:before {
      border-color: #55b776;
  }
  .nav li.active + li:after {
      background-color: #55b776;
  }

  .nav li.bottom_border {
    border-bottom: 5px solid;
  }

  a{
    color: $font-main;
    font-size: 16px;
    opacity: 0.8;
}

li{
  a:hover {
    // list-style-type: none;
    color: #3a2318;;
    border-bottom: 4px solid $font-main;
    background-color: transparent;
  }
}

.logo-progressbar-white {
  font-size: 30px;
  opacity: 0;
}

.samples-left-status {
  position: absolute;
  top: 1px;
  right: 2px;
  border-radius: 50px;
  border: 4px solid;
  font-weight: bold;
  height: 30px;
  width: 30px;
}



.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0.5;
}


.button {
  color: white;
  display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
  position: relative; /* All 'absolute'ly positioned elements are relative to this one */
  padding: 2px 5px;
  position: absolute;
  top: 1px;
  right: 2px;
 /* Add some padding so it looks nice */
}

/* Make the badge float in the top right corner of the button */
.button__badge {
  background-color: #fa3e3e;
  border-radius: 50px;
  color: white;
  padding: 1px 3px;
  font-size: 12px;
  position: absolute;
  top: -7px;
  right: 50px;
  height: 20px;
  width: 20px;
}

.button__badge_active {
  background-color: green;
  border-radius: 50px;
  color: white;
  padding: 1px 3px;
  font-size: 12px;
  position: absolute;
  top: -7px;
  right: 50px;
  height: 20px;
  width: 20px;
}

.active-tab {
  border-bottom: 4px solid $font-main;
}

.logo-testing{
  height: 30px;
  width: 30px;
  position: absolute;
  left: 465px;
  top: 95px;
}


.nav-item{
  height:74px;
}








