.searchbar-form {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
  background-color: transparent;
  border-radius: 5px;
  border: none;
}

.searchbar_input{
  padding-bottom: 5px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
  border: none;

}

 .text_searchbar {
    color: $font-main;
    font-size: 12px;
    text-align: left;
    border: none;
    height: 32px;
    width: 180px;
    border-radius: 5px;

}

