.searchbar-form {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
  background-color: transparent;
}

.searchbar_input{
  padding-bottom: 5px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;

}

 .text_searchbar {
    color: #00A0FF;
    font-size: 16px;
    font-style: italic;
    text-align: left;
}

