.show-general-info-quality-graph {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.show-all-information {
  margin-top: 20px;
  ul {
    list-style-type: none;
    padding-left: 20px;
  }
}

.show-all-information-title {
  display:flex;
  justify-content: space-between;
  align-items: center;
  button {
  background-color: $body-bg;
  border: none;
  }
  i {
    color: $main;
  }
}

.show-all-information-container {
  background-color: white;
  padding: 10px;
  max-width: 650px;
  border-radius: 6px;
  height: 297px;
}

.show-all-left {
  display: flex;
  justify-content:start;
  p {
    font-size: 13px;
  }
  li {
    font-size: 12px;

  }
}

.show-all-title {
  text-align: left;
  width: 100px;
}

.show-all-middle {
  width: 180px;
}

.show-all-right {
  width: 150px;
  list-style-type: none;
}

.show-quality-graph {
  margin-top: 20px;
  margin-bottom: 30px;
}

.show-quality-canvas {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
}

.show-historic .sample-show-historic-title {
  padding-left: 40px;
}

